.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1f2937;
    padding: 20px;
}

.header-links{
    display: flex;
    list-style-type: none;
    gap: 25px;
    justify-content: right;
}


a{
    text-decoration: none;
    color: white;
}

.header-logo {
    text-align: left;
    width: 50%;
    color: white;
}

.header-low {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

button {
    color: white;
    background-color: #3882f6;
}







